   DEBUG=True
   SECRET_KEY=tu_clave_secreta_para_desarrollo
   ALLOWED_HOSTS=*

   DB_ENGINE=postgresql
   DB_NAME=gestor_evidencias
   DB_USER=postgres
   DB_PASSWORD=postgres
   DB_HOST=db
   DB_PORT=5432